body {
  font-family: "Bebas Neue", cursive;
  background-color: rgb(236, 204, 231);
  position: relative;
  padding: 0;
  width: 200px;
  height: 400px;
}

h3 {
  margin-top: 25px;
  text-align: center;
}

/* Button close */
.cl-btn-7 {
  position: absolute;
  top: -40px;
  right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  z-index: 1;
  margin: 20px auto;
  cursor: pointer;
}
.cl-btn-7:before {
  content: '+';
  color: #337AB7;
  position: absolute;
  z-index: 2;
  transform: rotate(45deg);
  font-size: 50px;
  line-height: 1;
  top: -7px;
  left: 10px;
  transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
}
.cl-btn-7:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background: #337AB7;
  z-index: 1;
  transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
  transform: scale(0.01);
}
.cl-btn-7:hover:after {
  transform: scale(1);
}
.cl-btn-7:hover:before {
  transform: scale(0.8) rotate(45deg);
  color: #fff;
}